pin-depends: [
  [ "lwt.dev" "git+https://github.com/kit-ty-kate/lwt#0c4cc9d1238461b82b92d61c1c007cb1048509be" ]
  [ "multicont.dev" "git+https://github.com/dhil/ocaml-multicont#97476ae6e8b1dc807cdc0aaf73693fbb1d1428a3" ]
]